<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hou.sotaycanbo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.hmkcode.android.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hmkcode.android.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- .FragmentManagerActivity -->
        <activity
            android:name=".FragmentManagerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AccountsLight" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_activity_note"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".ListNoteActivity"
            android:label="@string/title_activity_list_note"
            android:theme="@style/NoShadowActionBarTheme" >
        </activity>
        <activity
            android:name=".DanhSachCanBoActivity"
            android:label="@string/title_activity_danh_sach_can_bo"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".CanboActivity"
            android:label="@string/canboActivity_title"
            android:theme="@style/CustomActionBarTheme" >
        </activity>

        <receiver
            android:name="com.hou.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hmkcode.android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.hou.gcm.GcmMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DoiMatkhauActivity"
            android:label="@string/title_activity_doi_matkhau"
            android:theme="@style/CustomActionBarTheme" >
        </activity>       
    </application>

</manifest>